@font-face {
    -fx-font-family: "Noto Sans TC Light";
    src: url("/font/NotoSansTC-Light.otf");
}

.root {
    -fx-font-family: "Noto Sans TC Light";
    -fx-font-size: 14px;
}

.grid-pane {
    -fx-font-size: 16px;
}